/* dasboard_menu */
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #262626;
	width: 250px;
	height: 100%;
	border-right: 7px solid salmon;
}

ul{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding: 0 0;
}

ul li a{
	list-style: none;
}

ul li a{
	padding: 20px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid snow;
}

.sidebar span {
	margin-right: 10px;
	color: #fff;
}

ul li{
	-webkit-transition:all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

ul li:hover{
    background-color: salmon;
}

/* box-1 */
div.box-1{
	margin: 30px 0 20px 275px;
	background: #fff;
	width: 78%;
	box-sizing: border-box;
	padding: 5px 25px 5px 25px;
	padding-bottom: 40px;
	box-shadow: 4px 5px 5px 4px #ccc;
	border-radius: 0 0 15px 15px;
	border-top:20px solid salmon;
}

h2{
	font-family: 'Times New Roman', Times, serif;
	color: #bbb;
}

p{
	font-family: 'Times New Roman', Times, serif;
	color: #bbb;
	font-size: 16px;	
}

/* content */
.form-group{
	padding: 5px 0;
}

.form-group label{
	font-family: Montserrat;    
	font-size: 18px;
	display: block;
	color: #04e9f1;
}

input[type=text], input[type=password]{
	border-radius: 5px;
	width: 40%;
	height: 35px;
	background: #eee;
	padding: 0 10px;
	box-shadow: 1px 2px 2px 1px #ccc;
	color: #262626;
}

input[type=button]{
	height: 35px;
	width: 200px;
	background: #8cd91a;
	border-radius: 20px;
	color: #fff;
	margin-top: 20px;
}

input{
	font-family: Montserrat;
	font-size: 16px;
}

.btn_hapus{
	padding: 5px;
	background: #ff414d;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}

.btn_edit{
	padding: 5px;
	background: greenyellow;
	text-decoration: none;
	margin-top: 5px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}

.tambah{
	padding: 5px;
	background: #089cf1;
	text-decoration: none;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}

.stock{
	padding: 5px;
	background: #f108d3;
	text-decoration: none;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}
