/*---------------------------
Preloader Area CSS Code  
----------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
  }
  .preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
  }
.card-body{
  padding: 10px 30px 20px;
}
/* ---Navbar--- */
.warna-dark{
  background-color: #2a2b3d;
}
.navbar {
  border-bottom: 7px solid salmon;
}

.nav-item a:hover {
  background-color: turquoise;
  transition: 0.5s;
}

.dropdown-menu .dropdown-item:hover {
  background-color: turquoise;
  transition: 0.5s;
}

/* ---carousel--- */
.carousel-item img{
    height: 520px;
    margin-top: 90px; 
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    min-height: 20%;
}
.carousel-item h5{
  font-weight: bold;
}
.carousel-item img {
    margin-top: 10px;
}

/* ---img-grid--- */
.mgt50px{
    margin-top: 50px;
  }
.box-1{
  font-family: "lato", sans-serif;
}
.display{
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
/*  border: 1px black solid;*/
  color: white;
}
.display td{
  color: black;
}
.display .shadow-tr{
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.display th{
  background-color: #398B93;
  text-align: center;
}

.display1{
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
/*  border: 1px black solid;*/
  color: white;
}
.display1 td{
  color: black;
  font-size: 9px;
}
.display1 .shadow-tr{
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.display1 th{
  background-color: #398B93;
  text-align: center;
}
/*pembeda */
.works-section{
  padding:3em 0;
  background:#F5F5F5;
}
.works-header{
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.works-header h3
{
  font-size: 2.5em;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ef664d;
}
.works-header h3 span {
  color: #fefefe;
}
.works-header p{
  line-height: 1.5em;
  
  font-size: 15px;
  color: #fefefe;
  padding: 25px 0;
}
.row .coloumn{
margin: 0 10px;
position: relative;
width: calc(25% - 20px);
min-height: 250px;
background: #fff;
float: left;
box-sizing: border-box;
overflow: hidden;
}

.row .coloumn:before{
content: '';
position: absolute;
bottom: -100%;
left: 0;
width: 100%;
height: 100%;
background: #262626;
z-index: 1;
transition: .5s;
mix-blend-mode: soft-light;
}

.row .coloumn:hover:before{
bottom: 0;
}

.row .coloumn .imgBox{
position: relative;
}

.row .coloumn .imgBox img{
width: 100%;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
}

.row .coloumn:hover .imgBox img{
-ms-transform: scale(1.2);
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
}

.row .coloumn .details{
position: absolute;
bottom: -85px;
left: 0
padding:10px;
box-sizing: border-box;
background: rgba(0,0,0,.9);
width: 100%;
transition: .5s;
z-index: 2;
}
.bannerimg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-size:cover;
  min-height: 550px;
}
.row .coloumn:hover .details{
bottom: 0;
}

.row .coloumn .details h3{
margin-right: 25px;
margin-top: 2px;
padding: 5px 10px 0 0;
color: #fff;
font-weight: 500;
text-align: right;
text-transform: uppercase;
}

.row .coloumn .details h3 span{
margin-right: 3px;
margin-top: 2px;
padding: 0;
font-size: 14px;
color: #8cd91a;
font-weight: 900;
text-transform: uppercase;
position: relative;
top: -6px;
}

.row .coloumn .details ul{
margin: 0;
padding: 0;
direction: flex;
float: right;
}

/*sidebar*/
.logo-sidebar img{
  /*margin-top: 100px;*/
  padding-top: 115px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.wrapper .header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .title{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.wrapper .header .header-menu .title span{
  color: #4CCEE8;
  text-decoration: none;
}

.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 280px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color: #4CCEE8;
}

.wrapper .header .header-menu ul{
  display: flex;
}

.wrapper .header .header-menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
  text-decoration: none;
}

.wrapper .header .header-menu ul li a:hover{
  background: #4CCEE8;
  color: #fff;
}

.wrapper .sidebar{
  z-index: 1;
  margin-top: -70px;
  background: #2F323A;
  position: fixed;
  top: 70px;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
  width: 250px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 15px 20px;
  transition: 0.3s;
  transition-property: color;
  text-decoration: none;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #4CCEE8;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
  background: #3498DB;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
  text-decoration: none;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  transition: 0.3s;
  transition-property: background;
  text-decoration: none;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
  background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
  border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
  max-height: 500px;
}

.wrapper .main-container{
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 15px;
  background: url(background.jpg)no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 0.3s;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
  display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
  font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
  font-size: 18px;
  padding-left: 3px;
}

.wrapper.collapse .main-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .main-container .card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* footer */
.footer-distributed{
  background-color: #262626;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 50px 50px;
  margin-top: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed .footer-left .logo img{
  width: 40%;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  font-family: Montserrat;
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  font-family: Montserrat;
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  font-family: Montserrat;
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  font-family: Montserrat;
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  font-family: Montserrat;
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}